doctype html
html(lang='en')
  head
    link(type='text/css', rel='stylesheet', href='stylesheets/styles.css')
    title Dragons Den
  body
    div
      header
        h1 Welcome To the Dragon's den.
      .centered
        img(src='http://vignette4.wikia.nocookie.net/shovelknight/images/5/5f/BubbleDragon.gif/revision/latest?cb=20150611191924')
      div
        h1 How long can you last?
      form(action="/claim-hill/dragons_den?_method='PUT'", method='POST')
        .centered
          input.form-control(type='text', name="name" placeholder='Enter Name')
        .centered
          input.btn.btn-default(type='submit', value='Submit')
      footer
        p
