extends layout

block content

  header 
    .inner 
      a.left(href="/") < Leaderboard

  section
    .inner
      .icon
        img(src="/images/mountain-goat-opt.png")

      .meat

        h3 The Rules
       
        ul
          li You may not capture the same hill twice in a row.
          li You should use the  same name at each hill.
          li The longer you hold a hill, the more points you obtain. 
          li Hills can be taken from you be walking to a Hill and capturing it.
          li Live leaderboard is at beakingofthehill.com.
          li You may hold more than one Hill at once.

  footer 
    .inner
      .container
        h4 #HackMT Team
        h5 January 29-31, 2016
        .col
          h6 Kevin Huber 
            span @kevinahuber
            p Choreographer
          h6 Leewood Chan 
            span 
              a(href="mailto:leewoodchan@gmail.com") Email Me
            p HillKeeper
          h6 So Chung 
            span @sosarachung
            p HillKeeper
          h6 Marcus Spears 
            span 
              a(href="mailto:gilbert.spears@gmail.com") Email Me
            p HillKeeper
        .col
          h6 Lindsey Maddox 
            span @lindseyemaddox
            p Assistant Regional Manager
          h6 Kianya Norwood 
            span @fizzyspirit
            p HillKeeper
          h6 Joseph Ensminger 
            span @ensmingerjoseph
            p HillKeeper
          h6 Jacques Wiese 
            span 
              a(href="mailto:jacques.a.wiese@gmail.com") Email Me
            p HillKeeper


  script.
    setTimeout(function(){
      window.location.reload(1);
    }, 2000)

