body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
		background-color: #282825;
}

.inner {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

a {
  color: #00B7FF;
}

header {
	width: 100%;
	background-color: #282825;
	padding: 33px 0;
}

header a {
	text-transform: uppercase;
	color: #e3d8be;
	text-decoration: none;
	font-weight: 900;
	font-size: 36px;
	text-align: right;
}

header a.right {
	text-align: right;
	display: block;
}

header a.left {
	text-align: left;
}

div.icon img {
	width: 100%;
}

div.icon {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

div.meat {
	width: 54%;
	display: inline-block;
	margin-left: 15%;
	vertical-align: top;
}

footer {
		background-color: #282825;
		padding-bottom: 130px;
}

footer:after {
	content: "";
	clear: both;
	display: block;
}

.container {
	width: 54%;
	float: right;
	padding-top: 120px;
}

section {
	padding-top: 120px;
  background-color: #0d89bf;
  padding-bottom: 160px;
}

h3 {
	font-size: 36px;
	font-weight: 900;
	color: #fff;
}

h4 {
	color: #fff;
	font-size: 24px;
	font-weight: 900;
	margin: 0;
	padding: 0;
}

h5 {
	font-weight: 300;
	font-size: 24px;
	color: #fff;
	margin: 0;
	padding: 0;
}

th {
	width: 45%;
	text-align: left;
	font-weight: 300;
	color: #fff;
	font-size: 36px;
}

table {
	width: 100%;
	margin-bottom: 100px;
}

.col {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin-right: 9%;
}
.col:last-child {
	margin-right: 0;
}

h6 {
	color: #9f9c94;
	font-weight: 900;
	font-size: 24px;
}

h6 span {
	font-weight: 300;
	color: #dfdedc;
}

h6 span a {
	color: #dfdedc;
	text-decoration: none;
	white-space: nowrap;
}

p {
	color: #9f9c94;
	font-size: 24px;
	font-weight: 300;
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	padding: 0 0 15px;
}

@media screen and (max-width: 1000px) {
	.inner {
		width: 90%;
	}
}






















