body {
background-image: url("Images/wizard_s_tower_by_jcbarquet-d5mc33w.jpg");
width: 100%;
}
h1{
	font-family:"Copperplate Gothic Light",sans-serif;
	font-size: 35px;
	color: #003300;
	text-align: center;
	
}
div.centered {
	text-align:center;
	width:100%;
	margin: auto;
input{
	width: 25%;
}